.footer {
  background-color: black;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid yellow;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;

  background-size: cover;
}
.container .fimg {
  border-radius: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.container img {
  width: 100%;
  height: 470px;
  object-fit: cover;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 100px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-links ul li a:hover {
  color: #ffcc00;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.footer-social ul li a:hover {
  color: #ffcc00;
}
